<section data-ng-controller="AllChallengesController">
<span>Welcome</span>
  <span data-ng-bind="authentication.user.displayName"></span>

<form><!-- Form for search bar -->
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-addon"><i class="fa fa-search"></i></div>
        <input type="text" class="form-control" placeholder="Search" ng-model="search">
      </div>      
    </div>
  </form>

  <ul class="list-group">
          <li class="list-group-item list-group-item-success" 
          ng-repeat="challenge in allChallenges | filter:search">
          {{challenge.name}} <span class="pull-right">{{challenge.category}}</span>
          <button ng-click="addChallenge($index)">Add</button> <span>Info: {{challenge.description}}</span></li>
          </ul>
</section>
